@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night;
}
@plugin "daisyui/theme" {
  name: "night";
  background-image: url('./assets/images/space.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  background-image: url('./assets/images/sky.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant night (&:where([data-theme=night], [data-theme=night] *));